#photos {
  overflow-x: scroll;
  white-space:nowrap;
  float: left;
  clear: left;
  width: 100%;
}

.value-displays {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80px;
  margin-left: 10px;
}

.listing {
  margin: 10px;
  float: left;
  width: 99%;
}
